@font-face{
  font-family: 'FuturaLight';
  src:url('./assets/fonts/FuturaLight.otf') format(opentype);
}
@media print{
  .no-print{
      display:none !important;
      height:0;
      width:0;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

button{
  color:white;
}
h1{
  font-size: 55px;
  font-weight: 100;
  font-family: FuturaLight;
  position: relative;
  left:22px;
  bottom:4px;
  letter-spacing: 1px;
}
.dinner-menu{
  padding: 20px 40px;
  width:8.5in;
  height: 14in;
  border:1px solid red;
  /* background-image: url('/olea-scan-dinner.jpg'); */
  background-size: 8.5in 14in;
  background-repeat: no-repeat;
}
hr{
  position: relative;
  bottom: 7px;
  margin-bottom: 10px;
}
.item,
.sides-heading{
  padding:9px 37px;
  letter-spacing: -0.3px;
}

.appetizers,
.entrees{
  flex:1;
}
.sides-heading{
  font-family: FuturaLight;
}
.sides .item{
  width:50%;
}
.appetizersEntrees{
  display:flex;
}
.sides{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.name{
  font-family: FuturaLight;
  font-weight: 900;
  font-size: 18px;
}
.pre-description{
  font-style: italic;
}
.pre-description,
.description{
  font-family:serif;
  font-size:15px;
  letter-spacing: 0.1px;
}
.price{
  font-family: serif;
  font-weight: 900;
  font-size: 14px;
}
.toggle{
  display:flex;
  align-items: center;
  width:8.5in;
  justify-content: center;
  gap:10px;
}
.toggle-icon{
  font-size:30px;
  cursor:pointer;
}
.allergies{
  font-family: serif;
  font-size:14px;
}
.dinner-menu-footer{
  display:flex;
  justify-content: space-between;
}
.legal-info{
  font-family: serif;
  font-size:12px;
  width:55%;
}
.chef{
  padding-left: 10px;
  font-family: FuturaLight;
  font-weight: 700;
}
.dinner-menu-footer{
  padding-top: 14px;
}
.meats,
.sides,
.chefs-tasting-menu{
  font-size:14px;
  border: 1px solid #888;
}
.chefs-tasting-menu{
  font-family:serif;

}