@font-face{
  font-family: 'FuturaLight';
  src:url('./assets/fonts/FuturaLight.otf') format(opentype);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

button{
  color:white;
}
h1{
  font-size: 55px;
  font-weight: 100;
  font-family: FuturaLight;
  position: relative;
  left:22px;
  bottom:4px;
  letter-spacing: 1px;
}
.dinnerMenu{
  padding: 20px 40px;
  width:8.5in;
  min-height: 14in;
  border:1px solid red;
  background-image: url('olea-scan-dinner.jpg');
  background-size: 8.5in 14in;
  background-repeat: no-repeat;
}
hr{
  position: relative;
  bottom: 7px;
  margin-bottom: 30px;
}
.item{
  color:red;
  border:1px solid green;
  padding:9px 14px;
  letter-spacing: -0.3px;
}
.appetizers,
.entrees{
  flex:1;
}
.sides-heading{
  font-family: FuturaLight;
}
.sides .item{
  width:50%;
}
.appetizersEntrees{
  display:flex;
}
.sides{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.name{
  font-family: FuturaLight;
  font-weight: 900;
  font-size: 18px;
}
.pre-description{
  font-style: italic;
}
.toggle{
  display:flex;
  align-items: center;
  width:8.5in;
  justify-content: center;
  gap:10px;
}
.toggle-icon{
  font-size:30px;
  cursor:pointer;
}